
<form action="/products/<%=product._id%>?_method=PUT" method="POST">

<input type="text" name="name" placeholder="id" value="<%=product.name%>">
<br>
<input type="text" name="description" placeholder="id" value="<%=product.description%>">
<br>
<input type="text" name="img" placeholder="id" value="<%=product.img%>">
<br>
<input type="text" name="price" placeholder="id" value="<%=product.price%>">
<br>
<input type="text" name="qty" placeholder="id" value="<%=product.qty%>">
<br>





<br>
<input type="submit" value="update">
<br>

</form>