<%- include('header') -%>
		<nav>
			<a href="/products">Back to products Index</a>
		</nav>
        <div id="showpage">
<h1><%=product.name %></h1>
<img src="<%= product.img %>" alt="">
<br>
		 <%= product.description%>
        
        <br>
        price: <%= product.price%>
        <br>
        quantity: 
       <% if(product.qty <= 0){%>
            <p>Out of stock </p>
        <%}else{%>
<%= product.qty %>
       <% }%>
 
        </div>
		
               
        
<form action="/products/<%=product._id%>/buy" method="POST">

<input type="submit" value="buy">

</form>      
  
		<br />
<%- include('footer') -%>